* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #ee2277, #e33333);
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("/img/leaf.png");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  max-width: 400px;
  width: 100%;
  transform: scale(-1);
}

.clock:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.clock-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 50%;
  border: 5px solid white;
}

.clock-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: calc(50% - 20px);
  height: 6px;
  background-color: #fff;
  transform-origin: left center;
  border-radius: 999px;
}

.hand.second {
  opacity: 0.5;
  height: 3px;
  transform: translateY(-50%) rotate(-180deg);
  transition: 0.1s cubic-bezier(0, 0, 0.6, 1.25);
}

.hand.minute {
  transform: translateY(-50%) rotate(45deg);
  transition: 0.2s ease;
}

.hand.hour {
  transform: translateY(-50%) rotate(-90deg);
  width: calc(50% - 80px);
  transition: 0.2s ease;
}
